.img-container {
  height: 50px;
  width: 50px;
  border-radius: 100rem;
  overflow: hidden;
  margin: 10px;
}

.chat-display {
  padding: 1.3rem;
  height: 60vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  /* border: 0.1px solid black; */
  width: 70%;
  border-radius: 15px;
  background-color: rgb(101, 162, 254);
  align-self: flex-end;
  margin: 10px;
  word-break: break-word;
  padding: 3px;
}

.incoming {
  align-self: flex-start;
  /* border: 0.1px solid black; */
  width: 70%;
  border-radius: 15px;
  background-color: rgba(190, 190, 190, 0.539);
  margin: 10px;
  word-break: break-word;
  padding: 3px;
}
.senderName {
  display: flex;
  justify-content: start;
  padding-left: 5px;
  font-size: small;
}
.content {
  display: flex;
  justify-content: start;
  padding-left: 5px;
  font-size: large;
}
.time {
  display: flex;
  justify-content: end;
  font-size: small;
  padding-right: 5px;
}
